@model IEnumerable<BTLWeb.Models.NHANVIEN>

@{
    ViewBag.Title = "Danh sách nhân viên";
}

<h2>Info</h2>

<p>
    @Html.ActionLink("Create New", "AddNV")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MANV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANHNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MANV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TENNV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NGAYSINH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GIOITINH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIACHI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LUONG)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ANHNV)
    </td>
    <td>
        @Html.ActionLink("Edit", "UpdateNV", new { id = item.MANV }) |
        @Html.ActionLink("Details", "Details", new { id = item.MANV }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MANV })
    </td>
</tr>
}

</table>
