@model IEnumerable<BTLWeb.Models.HOADON>

@{
    ViewBag.Title = "danh sách hóa đơn";
}

<h2>Info</h2>

<p>
    @Html.ActionLink("Create New", "AddDH")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYLAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANHTIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHANVIEN.TENNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MAHD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NGAYLAP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.THANHTIEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NHANVIEN.TENNV)
    </td>
    <td>
        @Html.ActionLink("Edit", "UpdateHD", new { id = item.MAHD }) |
        @Html.ActionLink("Details", "Details", new { id = item.MAHD }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MAHD })
    </td>
</tr>
}

</table>
