@model IEnumerable<BTLWeb.Models.NHACUNGCAP>

@{
    ViewBag.Title = "DANH SÁCH NHÀ CUNG CẤP";
}

<h2>Info</h2>

<p>
    @Html.ActionLink("Create New", "AddNCC")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MANCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MANCC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TENNCC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIACHI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.ActionLink("Edit", "UpdateNCC", new { id = item.MANCC }) |
        @Html.ActionLink("Details", "Details", new { id= item.MANCC }) |
        @Html.ActionLink("Delete", "DeleteNCCConfirm", new { id = item.MANCC })
    </td>
</tr>
}

</table>
